In [1]:
import pandas as pd 
import numpy as np 


from lims_api import Client
lims_url = 'http://research-lims.freenome.net'
c = Client(lims_url, )

import matplotlib.pyplot as plt
# import seaborn as sns
from scipy.stats import chi2_contingency, mannwhitneyu
from featureio import FeatureIO

/home/brian_odonovan/pineapple/env/lib/python3.7/site-packages/lims_api/client.py:82: UserWarning: Could not find auth token, this will soon turn into an error. Could not find a token in the Kubernetes secret, the environment, or the disk.
  warnings.warn('Could not find auth token, this will soon turn into an error. %s' % str(e))

In [8]:
### starting point = query copied from lims web ui:

tubes = [114087, # got this from the study7 manifest
114274,
115845,
119381,
121445,
122035,
123643,
125141,
243998,
243999,
244000,
244001,
244002,
244003,
244004,
244005,
244006,
244007,
244008,
244009,
244010,
244011,
244013,
244014,
244015,
244016]


query = {
    "and": [
        {
            "sample_datasets": [
                [
                    "tube_id",
                    "in",
                    tubes
                ]
            ]
        }
    ]
}

results = c.search(query , load_models = ['samples', 'patients', 'diagnoses'], 
                           query_model = 'sample_datasets')
results = results['sample_datasets']

In [21]:
ds_ids = [x['id'] for x in results]
sample_ids = [x['sample_id'] for x in results]
patient_ids = [x['sample']['patient']['id'] for x in results]

In [25]:
df = pd.DataFrame([ds_ids, sample_ids, patient_ids]).T
df.columns = ['ds_id', 'sample_id', 'pt_id']

In [30]:
df

          ds_id sample_id  pt_id
0   SD-000095D0     14354  18605
1   SD-000095D1     14380  18633
2   SD-000095D2     14898  19026
3   SD-000095D3     13877  18253
4   SD-000095D4     15080  19155
5   SD-000095D5     15366  19283
6   SD-000095D6     18953  23446
7   SD-000095D7     19356  23794
8   SD-000095D8     14898  19026
9   SD-000095D9     18953  23446
10  SD-000095DA     14380  18633
11  SD-000095DB     13877  18253
12  SD-000095DC     14354  18605
13  SD-000095DD     15080  19155
14  SD-000095DE     15366  19283
15  SD-000095DF     19356  23794
16  SD-00009629     14147  18468
17  SD-0000962A     18991  23479
18  SD-00009674     15141  18637
19  SD-00009675     15061  19145
20  SD-000096C0     15268  19020
21  SD-000096C1     14899  19023
22  SD-0000970C     15211  19040
23  SD-0000970D     14065  18395
24  SD-00009758     13664  18144
25  SD-00009759     14923  19057